[submodule ".vim/bundle/ctrlp.vim"]
    path = .vim/bundle/ctrlp.vim
    url = https://github.com/kien/ctrlp.vim.git

[submodule ".vim/bundle/vim-airline"]
    path = .vim/bundle/vim-airline
    url = https://github.com/bling/vim-airline.git

[submodule ".vim/bundle/vim-arduino-ino"]
    path = .vim/bundle/vim-arduino-ino
    url = https://github.com/jplaut/vim-arduino-ino.git

[submodule ".vim/bundle/vim-coffee-script"]
    path = .vim/bundle/vim-coffee-script
    url = https://github.com/kchmck/vim-coffee-script.git

[submodule ".vim/bundle/vim-colors-solarized"]
    path = .vim/bundle/vim-colors-solarized
    url = https://github.com/altercation/vim-colors-solarized.git

[submodule ".vim/bundle/vim-jade"]
    path = .vim/bundle/vim-jade
    url = https://github.com/digitaltoad/vim-jade.git

[submodule ".vim/bundle/vim-fugitive"]
    path = .vim/bundle/vim-fugitive
    url = https://github.com/tpope/vim-fugitive.git

[submodule ".vim/bundle/dbext.vim"]
    path = .vim/bundle/dbext.vim
    url = https://github.com/vim-scripts/dbext.vim.git

[submodule ".vim/bundle/vim-scala"]
    path = .vim/bundle/vim-scala
    url = https://github.com/derekwyatt/vim-scala.git

[submodule ".vim/bundle/play2vim"]
    path = .vim/bundle/play2vim
    url = https://github.com/gre/play2vim.git

[submodule ".vim/bundle/vim-rooter"]
    path = .vim/bundle/vim-rooter
    url = https://github.com/airblade/vim-rooter.git

[submodule ".vim/bundle/vim-clojure-static"]
    path = .vim/bundle/vim-clojure-static
    url = https://github.com/guns/vim-clojure-static.git

[submodule ".vim/bundle/vim-fireplace"]
    path = .vim/bundle/vim-fireplace
    url = https://github.com/tpope/vim-fireplace.git

[submodule ".vim/bundle/nerdtree"]
    path = .vim/bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree.git

[submodule ".vim/bundle/ultisnips"]
    path = .vim/bundle/ultisnips
    url = https://github.com/sirver/ultisnips

[submodule ".vim/bundle/vim-snippets"]
  path = .vim/bundle/vim-snippets
  url = https://github.com/honza/vim-snippets

[submodule ".vim/bundle/neocomplete.vim"]
    path = .vim/bundle/neocomplete.vim
    url = https://github.com/Shougo/neocomplete.vim

[submodule ".vim/bundle/neocomplete.vim"]
    path = .vim/bundle/neocomplete.vim
    url = https://github.com/Shougo/neocomplete.vim

[submodule ".vim/bundle/emmet-vim"]
    path = .vim/bundle/emmet-vim
    url = https://github.com/mattn/emmet-vim.git

[submodule ".vim/bundle/neocomplete.vim"]
    path = .vim/bundle/neocomplete.vim
    url = https://github.com/Shougo/neocomplete.vim
